@import "tailwindcss";

/* Global Font: Inter (Jo aapne design mein use kiya hai) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #0a0a0a; /* Premium Dark Background */
  color: #f1f5f9;
  margin: 0;
  padding: 0;
}